# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
#compiled Object files with scons
*.os

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*~
3rdtags
tags
glew-2.1.0
glfw-3.2.1
glu-9.0.0
mesa-19.0.0
**/local/glew
**/local/glu
**/local/glfw
**/local/mesa
**/configs/*.pc
**/libs/lib*
**/doc/autodoc

